/*새로 추가한 코드--------------------------------------------*/



.btn-danger2 {
  color: #fff;
  background-color: #58FA82;
  border-color: #d43f3a;
}

.d-flex_jw {
  display: -ms-flexbox !important;
  display: flex !important
}


.col-md-4-1{ /*div class들 조절*/
  position: relative;
  width: 60%;
  float:left;
}

/* .col-md-4-1{ */
  /* position: relative */
  /* width:960px; margin: 0 auto;
  overflow: hidden; */
/* } */


.col-md-8-1{  /*제목같은거 이미지 옆으로 붙이기 위해서 추가*/
  position: relative;
  float:right;
  width: 40%;
  height: 20%;

}
.media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start
}
.media-body {
  -ms-flex: 1;
  flex: 1
}
.p-3 {
  padding: 1rem !important
}
.rounded-circle {
  border-radius: 50% !important
}
.mr-3, .mx-3 {
  margin-right: 1rem !important
}
.mt-3, .my-3 {
  margin-top: 1rem !important
}
.rounded-circle {
  border-radius: 50% !important
}
.col-sm-4-1,
.col-sm-8-1 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px
}

.col-sm-4-1 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%
}
.col-sm-8-1 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%
}


/*밑에 두줄 이미지하고 투자하기 모아서 두는거 조절*/
.container-fluid{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}
.row2{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px}



#panel, #flip {
  padding: 5px;
  text-align: center;
  background-color: #e5eecc;
  border: solid 1px #c3c3c3;
}

#panel {
  padding: 50px;
  display: none;
}


/*새로 추가한 코드--------------------------------------------*/
